<header class="ta_center">
  <h1 class="formHeading">管理者を選択し、更新してください</h1>
</header>

<div class="frame">
<%= form_tag [:admin, @circle], method: :patch do %>
  <% @members.each do |member| %>
    <ul class="wrap-thinCard">
      <label for="checkbox">
        <li class="thinCard">
            <input type="checkbox" class="thinCard__permit" id="checkbox">
            <div class="thinCard__image"></div>
            <div class="thinCard__heading"><%= member.name %></div>
            <div class="thinCard__subhead">ああああ</div>
            <div class="checkbox_style"></div>
        </li>
      </label>
    </ul>
  <% end %>
</div>

  <div class="ta_center">
    <%= submit_tag "更新" , class: "button button_size_medium button_color_blue"%>
  </div>
<% end %>

<div class="frame">
  <div class="frame__heading frame__heading_underline">代表</div>
  <div class="wrap_menbarard">
    <div class="menbarCard">
      <div class="menbarCard__image"></div>
      <div class="menbarCard__heading">永石康一郎</div>
      <div class="menbarCard__subhead">大学、学年</div>
    </div>
  </div>
  <div class="frame__heading frame__heading_underline">管理者</div>
  <div>
    <div class="menbarCard">
      <div class="menbarCard__image"></div>
      <div class="menbarCard__heading">ながいしこういちろう</div>
      <div class="menbarCard__subhead">大学、学年大学、学年大学、学年大学、学年</div>
    </div>
    <div class="menbarCard">
      <div class="menbarCard__image"></div>
      <div class="menbarCard__heading">Koichiro Ngaishi</div>
      <div class="menbarCard__subhead">大学、学年</div>
    </div>
  </div>
  <div class="frame__heading frame__heading_underline">編集者</div>
  <div>
    <div class="menbarCard">
      <div class="menbarCard__image"></div>
      <div class="menbarCard__heading">名前</div>
      <div class="menbarCard__subhead">大学、学年</div>
    </div>
    <div class="menbarCard">
      <div class="menbarCard__image"></div>
      <div class="menbarCard__heading">名前</div>
      <div class="menbarCard__subhead">大学、学年</div>
    </div>
    <div class="menbarCard">
      <div class="menbarCard__image"></div>
      <div class="menbarCard__heading">名前</div>
      <div class="menbarCard__subhead">大学、学年</div>
    </div>
    <div class="menbarCard">
      <div class="menbarCard__image"></div>
      <div class="menbarCard__heading">名前</div>
      <div class="menbarCard__subhead">大学、学年</div>
    </div>
  </div>
</div>