<%= form_tag [:admin, @circle], method: :patch do %>
  <% @members.each do |member| %>
    <p>
      <%= member.name %>
      <%= check_box "admin", member.id, {}, true, false %>
    </p>
  <% end %>
  <%= submit_tag "変更" %>
<% end %>