<div class="ta_center">
  <h1 class="formHeading">メンバー用URL発行</h1>


<p class="normal_text"><%= @circle.name %><br>のメンバーURLは</p>

<div class="form">
  <input id="fe_text" class="form form__text_field" type="text" value="<%= "#{@host_url}/entry/#{@key}" %>">
</div>
<button id="d_clip_button" data-clipboard-target="fe_text" class="button button_size_large button_color_blue">URLをコピー</button>
</div>

<div class="alert">
  <div class="alert__box">
    <p class="alert__text">メンバー追加用URLがコピーされました！</p>
    <button class="alert__button button button_size_medium button_color_blue">OK</button>
  </div>
</div>

<script>
$(function(){
    $(".alert").hide();
      $("#d_clip_button").click(function(){
        $(".alert").fadeIn(300);
      });
      $(".alert__button").click(function(){
        $(".alert").fadeOut(300);
      });
  });
</script>
