<div class="ta_center">
  <h1 class="formHeading">メンバー追加用URL発行</h1>
  <p class="normal_text"><%= @circle.name %>のメンバーURLは</p>

  <div class="form">
    <input id="fe_text" class="form form__text_field" type="text" value="<%= "#{@host_url}/entry/#{@key}" %>">
  </div>
</div>
<p class="normal_text ta_center">このURLから登録、またはログインすると<br>自動でメンバーに追加されます。</p>

<%= link_to "サークルへ戻る", @circle, class: "button button_size_medium button_color_gray"%>