<header>
  <h1 class="formHeading ta_center">ブログ一覧</h1>
</header>

<div class="list__wrap">
  <% if @blogs.any? %>
    <ul class="wrap-thinCard">
      <% @blogs.each do |blog| %>
        <%= render "shared/blog_card", blog: blog %>
      <% end %>
    </ul>
  <% end %>
</div>