.members{
  width: 90%;
  height: 4rem;
  margin: 2rem auto 1rem;
  overflow: hidden;
  &__heading {
    width: 95%;
    display: block;
    margin: 0 auto;
    font-size: 0.8rem;
    font-weight: normal;
    color: $gray;
  }
  &__list{
    display:flex;
    justify-content: center;
    padding:0;
    list-style: none;
  }
  &__list_item{
    padding: 0 0.5rem;
  }
  &__image{
    width: 2rem;
    height: 2rem;
    border-radius:50%;
    background: gray;
    margin-top: 0.3rem;
  }
  &__name{
    font-size: 0.1rem;
    color: gray;
    text-decoration: none;
  }
  &__more{
    text-decoration: none;
    color: gray;
    font-size: 0.5rem;
    float: right;
    margin-top: 0.3rem;
  }
}
.frame{
  width: 100%;
  margin: 1rem auto 0;
  padding: 0.5rem 0.5rem;
  box-sizing: border-box;
  &__heading{
    font-weight: normal;
    color: $gray;
    margin: 0.5rem auto;
    font-size: $large;
    padding-left: 0.5rem;
    text-align: left;
    &_underline{
      border-bottom: 1.5px solid $d-blue;
      border-left: 5px solid $d-blue;
      padding-bottom: 0.3rem;
    }
  }
  &__more{
    float: right;
    font-size: $small;
    color: gray;
    text-decoration: none;
    padding-top:0.2rem;
  }
}
.description{
  width: 90%;
  margin:2rem auto;
}

.table{
  border-collapse: collapse;
  text-align: center;
  &__head{
    width: 150px;
    padding:10px;
    font-weight: normal;
    vertical-align: top;
    border:1px solid gray;
    color: #fff;
    background: $d-blue;
    font-size: 0.8rem;
  }
  &__deta{
    width: 350px;
    padding:10px;
    vertical-align: top;
    border: 1px solid gray;
    font-size: 0.8rem;
    color: $gray;
  }
}