.members{
  width: 90%;
  height: 4rem;
  margin: 1rem auto;
  overflow: hidden;
  &__heading {
    width: 95%;
    display: block;
    margin: 0 auto;
    font-size: 0.8rem;
    font-weight: normal;
    color: $gray;
  }
  &__list{
    display:flex;
    justify-content: center;
    padding:0;
    list-style: none;
  }
  &__list_item{
    padding: 0 0.5rem;
  }
  &__image{
    width: 2rem;
    height: 2rem;
    border-radius:50%;
    background: gray;
    margin-top: 0.3rem;
  }
  &__name{
    font-size: 0.1rem;
    color: gray;
    text-decoration: none;
  }
  &__more{
    text-decoration: none;
    color: gray;
    font-size: 0.5rem;
    float: right;
    margin-top: 0.3rem;
  }
}
.frame{
  width: 90%;
  margin: 1rem auto;
  padding: 0.5rem 0.5rem;
  &__heading{
    font-weight: normal;
    color: $gray;
    margin: 0.5rem auto;
    &_underline{
      border-bottom: 2px solid $d-blue;
      padding-bottom: 0.3rem;
    }
  }
  &__list{
    list-style: none;
  }
  &__more{
    float: right;
    font-size: 0.5rem;
    color: gray;
    text-decoration: none;
    padding-top:0.2rem;
  }
  .article{
    position: relative;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 3rem;
    border: 1px solid $d-blue;
    border-radius: 3px;
    &__heading{
      position: absolute;
      top: 20%;
      left: 15%;
      text-decoration: none;
      font-size: 0.8rem;
      color: $gray;
      margin:0 0.5rem;
    }
    &__image{
      position: absolute;
      top: 0;
      bottom: 0;
      left: 3%;
      margin: auto;
      width: 2.5rem;
      height: 2.5rem;
      background: gray;
      border-radius:50%;
    }
    &__text{
      position: absolute;
      top: 50%;
      left: 15%;
      font-size: 0.6rem;
      color: gray;
      margin:0 0.5rem;
    }
    &__time{
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 3%;
      padding: 1.2rem 0;
      font-size: 0.6rem;
      color: gray;
    }
    &__more{
      font-size: 0.6rem;
      color: gray;
      margin-top: 0.3rem;
      text-decoration: none;
    }
  }
  &__create{
    text-decoration: none;
    color: gray;
    font-size: 0.5rem;
    float: right;
    margin-top: 0.20rem;
  }
}
.article_no{
  color: gray;
  text-align: center;
  line-height: 3rem;
}
.feed{
  position: relative;
  width: 90%;
  height: 16rem;
  margin: 1rem auto;
  border:2px solid $d-blue;
  border-radius:5px;
  &__background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10rem;
    background:gray;
    z-index: -1;
  }
  &__heading{
    position: absolute;
    top: 10.5rem;
    left: 0.5rem;
    font-size: 0.8rem;
    text-decoration: none;
    color: $gray;
  }
  &__subhead{
    position: absolute;
    top: 11.5rem;
    left: 0.5rem;
    width: 95%;
    font-size: 0.5rem;
    color: gray;
    border-bottom: 1px solid gray;
  }
  &__image{
    position: absolute;
    top: 13rem;
    left: 0.5rem;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background: gray;
  }
  &__name{
    position: absolute;
    top: 13.5rem;
    left: 4rem;
    font-weight: normal;
    font-size: 0.8rem;
    color: $gray;
  }
  &__category{
    position: absolute;
    top: 14.5rem;
    left: 4rem;
    font-size: 0.5rem;
    color: gray;
  }
}