.members{
  width: 90%;
  height: 4rem;
  margin: 1rem auto;
  overflow: hidden;
  &__heading {
    width: 95%;
    display: block;
    margin: 0 auto;
    font-size: 0.8rem;
    font-weight: normal;
    color: $gray;
  }
  &__list{
    display:flex;
    justify-content: center;
    padding:0;
    list-style: none;
  }
  &__list_item{
    padding: 0 0.5rem;
  }
  &__image{
    width: 2rem;
    height: 2rem;
    border-radius:50%;
    background: gray;
    margin-top: 0.3rem;
  }
  &__name{
    font-size: 0.1rem;
    color: gray;
    text-decoration: none;
  }
  &__more{
    text-decoration: none;
    color: gray;
    font-size: 0.5rem;
    float: right;
    margin-top: 0.3rem;
  }
}
.frame{
  width: 90%;
  margin: 1rem auto;
  padding: 0.5rem 0.5rem;
  &__heading{
    font-weight: normal;
    color: $gray;
    margin: 0.5rem auto;
    font-size: $large;
    &_underline{
      border-bottom: 1.5px solid $d-blue;
      padding-bottom: 0.3rem;
    }
  }
  &__list{
    list-style: none;
  }
  &__more{
    float: right;
    font-size: $small;
    color: gray;
    text-decoration: none;
    padding-top:0.2rem;
  }
}
.description{
  width: 90%;
  margin:2rem auto;
}