.formHeading{
	margin:1.3rem;
	font-size:1rem;
	font-weight:normal;
	color: gray;
}
.form{
	width: 90%;
	margin:0 auto;
	&__item{
		color: $gray;
		padding: 1rem auto;
		display: block;
		&_number{
			display: inline-block;
			line-height: 1rem;
		}
	}
	&__text_field{
		width: 100%;
		height: 1rem;
		border-radius: 5px;
		padding: 1rem 0;
		font-size:1rem;
		border:solid 1px #ccc;
		margin: 0.2rem auto 1rem;
		box-sizing:border-box;
		&_short{
		width: 35%;
		}
    &_70{
      width: 75%;
      margin: 0;
    }
    &_80{
      width: 85%;
    }
	}
  &__text_field_90{
    width: 90%;
  }
	&__text_area{
		width: 100%;
		height: 15rem;
		border-radius: 5px;
		padding: 0.5rem 0;
		font-size:1rem;
		line-height: 1rem;
		border:solid 1px #ccc;
		margin: 0.2rem auto 1rem;
		}
	&__text_area_search{
		width: 78%;
		height: 2rem;
		background: #fff;
		border: 1px solid gray;
		border-radius: 3px;
		box-sizing:border-box;
		font-size: 1rem;
	}
	&__checkbox{
		color: $gray;
		font-size: 0.8rem;
	}
	&__button{
		text-align: center;
		margin: 1rem auto;
	}
	&__text{
		color: gray;
		text-decoration: none;
	}
	&__upload{
		display: inline-block;
		overflow: hidden;
		position: relative;
		// padding: 1em;
		width: 100%;
		height: 2.5rem;
		background: #fff;
		border-top: 1px solid $d-blue;
		// border-radius:3px;
		color:$d-blue;
		font-size: 0.8rem;
		line-height: 2.5rem;
		box-sizing:border-box;
	}
	&__file{
		opacity: 0;
		filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
		position: absolute;
		right: 0;
		top: 0;
		margin: 0 auto;
		font-size: 100px;
		cursor: pointer;
	}
	&__picture{
		width: 3rem;
		height: 3rem;
		background: gray;
		border-radius: 3px;
	}
  &__images{
    border:1px solid $d-blue;
    border-radius:3px;
    padding:6px 0 0;
    background: #fff;
  }
  &__noImage{
    background:$l-gray;
    background-size: 5rem auto;
    background-repeat: no-repeat;
    background-position: center;
    border:1px solid gray;
    border-radius:3px;
      &:before {
      display: block;
      content: "";
      width: 100%;
      padding-top: (10 / 16) * 100%;
    }
    &_prof{
      background:$l-gray;
      background-size: 5rem auto;
      background-repeat: no-repeat;
      background-position: center;
      border:1px solid gray;
      border-radius:3px;
        &:before {
        display: block;
        content: "";
        width: 100%;
        padding-top: (1 / 1) * 100%;
      }
    }
  }
  &__welcomeEvent{
    width: 100%;
    padding:0.5rem;
    border:1px solid $l-gray;
    border-radius:3px;
    box-sizing: border-box;
  }
}
.whole_from{
  width: 100%;
  border:1px solid $l-gray;
  border-radius:3px;
  padding:0.5rem;
  box-sizing:border-box;
  margin-bottom:1rem;
}
@mixin selectBefore{
  content: "";
  position: absolute;
  top: 50%;
  right: 5%;
  display: block;
  width: 0;
  height: 0;
  margin: -2px 0 0 0;
  border: 5px solid transparent;
  border-top: 7px solid gray;
}
.wrap_select{
	position: relative;
  display: inline-block;
  width: 60%;
  border: 1px solid $l-gray;
  border-radius: 5px;
  background: #fff;
  margin: 0.5rem auto;
  box-sizing: border-box;
  &:before{
  	@include selectBefore;
  }
  &_100{
    width: 100%;
    height: 2rem;
  }
  &_90{
    width: 95%;
    height: 2rem;
  }
  &_50{
    width: 55%;
  }
  &_20{
    width: 25%;
  }
}
.selectbox{
	cursor: pointer;
  position: relative;
  -webkit-appearance: none;
  appearance: none;
  display: block;
  width: 80%;
  padding: 0.2rem 0.5rem;
  border: none;
  border-radius: 5px;
  background: transparent;
  font-size: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.wrap_checkbox{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.joining_college{
width: 100%;
height: 2rem;
border-radius:3px;
line-height: 1.8rem;
display: inline-block;
border-radius:3px;
background: $d-blue;
border: 1px solid $d-blue;
  .college_name{
    color: #fff;
    display: inline-block;
    width: 70%;
    padding-left: 0.5rem;
    font-size: 0.8rem;
    font-weight: bold;
  }
  .remove_college_button{
    display: inline-block;
    color: #fff;
    padding-left:0.6rem;
    border-left:1px solid $l-gray;
    font-size: 0.6rem;
    // box-sizing:border-box;
  }
}
// 画像アップロードのとこのwrap
.wrap_form__noImage{
  width: 80%;
  margin: 0 auto 0.5rem;
  &_prof{
    width: 50%;
    margin: 0 auto 0.5rem;
  }
}



