.heading{
	margin:1.3rem;
	font-size:1rem;
	font-weight:normal;
	color: gray;
}
.form{
	width: 90%;
	margin:0 auto;
	&__item{
		color: $gray;
		padding: 1rem auto;
		&_number{
			display: inline-block;
			line-height: 1rem;
		}
	}
	&__text_field{
		width: 100%;
		height: 1rem;
		border-radius: 5px;
		padding: 0.5rem 0;
		font-size:1em;
		border:solid 1px #ccc;
		margin: 0.2rem auto 1rem;
		&_short{
		width: 35%;
		}
	}
	&__text_area{
		width: 100%;
		height: 20rem;
		border-radius: 5px;
		padding: 0.5rem 0;
		font-size:1em;
		border:solid 1px #ccc;
		margin: 0.2rem auto 1rem;
		}
	&__checkbox{
		color: $gray;
		font-size: 0.8rem;
	}
	&__buttun{
		text-align: center;
		margin-top: 1rem;
		margin-bottom: 3rem;
	}
	&__text{
		color: gray;
		text-decoration: none;
	}
	&__file{
		border-radius: 3px;
	}
	&__images{
		margin-bottom: 1rem;
	}
	&__picture{
		width: 3rem;
		height: 3rem;
		background: gray;
		border-radius: 3px;
	}
}
