.keyvisual{
	position: relative;
	width:100%;
	// height:35rem;
	background:gray;
	&__inner{
		position: absolute;
		top: 15rem;
		width: 100%;
		margin: 0 auto;
		text-align: center;
		&_desktop{
			top: 25rem;
		}
	}
}
.LP{
	width:100%;
	background:#fff;
}
.lp{
	width:90%;
	margin:3rem auto;
	&__union{
		font-size: 1.8rem;
		font-weight: normal;
		text-align: center;
		margin:5rem auto;
	}
	&__heading{
		text-align:center;
		font-size: $normal;
		margin-top: 2rem;
		line-height: 1.4rem;
	}
	&__text{
		font-size: $small;
		margin-top: 1rem;
		color: gray;
	}
	&__inner{
		text-align: center;
	}
	&__end{
		text-align: center;
		font-size: 1.3rem;
		margin:6rem auto;
	}
}
