.messageList{
  width: 95%;
  margin: 0 auto;
}
.message_rooms{
  width: 100%;
  height: 88%;
}
// テキストフィールドのwrap
.message__input{
  width: 100%;
  height: 2rem;
  margin: 0 auto;
  background: #fff;
  line-height: 2rem;
  border-top: 1px solid $l-gray;
  box-sizing:border-box;
}
// メッセージ
.wrap-message{
  width: 100%;
  height: 95%;
  overflow: scroll;
}
.wrap-message__text{
  margin: 0.5rem;
  box-sizing: border-box;
}
.message__text{
  background: $d-blue;
  padding: 0.5rem;
  max-width: 80%;
  min-width: 0%;
  border-radius: 3px;
  box-sizing: border-box;
}
.sender{
  background: $d-blue;
  color: #fff;
  float: right;
}
.receiver{
  background: $l-gray;
  color: $gray;
  float: left;
}

.clearfix:after {
    content:" ";
    display:block;
    clear:both;
}