.wrap-search{
  width: 11rem;
  margin: 1rem auto;
  height: 2rem;
  font-size:0.8rem;
  letter-spacing:-0.4rem;
}
.form__search{
  width: 95%;
  margin: 0.5rem auto 0;
  padding: 1rem;
  border: 1px solid $l-gray;
  box-sizing:border-box;
  border-radius:5px;
  box-shadow: 0 1px 3px gray;
  .wrap_select{
    width: 100%;
    height: 2rem;
    .selectbox{
      width: 90%;
    }
  }
  .form__text_field{
    margin-bottom: 0.2rem;
  }
}
.favorites{
  position: relative;
  top: 0;
  left: 0;
  display: inline-block;
  width: 15rem;
  height: 3rem;
  border-radius: 3px;
  line-height: 3rem;
  margin: 0.3rem auto;
  font-size: 1rem;
  // box-shadow:0 1px 0 0 $d-blue;
  background: $d-blue;
  border: 1px solid $d-blue;
  color: #fff;
  padding: 0 0 0 1rem;
  box-sizing: border-box;
}
.unfavorites{
  display: inline-block;
  width: 15rem;
  height: 3rem;
  line-height: 3rem;
  border-radius: 3px;
  line-height: 3rem;
  font-size: 1rem;
  padding-left: 1rem;
  color: $d-blue;
  background:#fff;
  border:1px solid $d-blue;
  box-sizing: border-box;
}
// .wrap_favorites{
//   width: 100%;
//   height: 100%;
//   position: relative;
// }
.ta_center .new_favorite{
  position:relative;
  width: 15rem;
  height: 3rem;
  margin: 0 auto;
  box-sizing: border-box;
  margin-bottom: 0.8rem;
}
.ta_center .edit_favorite{
  position:relative;
  width: 15rem;
  height: 3rem;
  margin: 0 auto;
  box-sizing: border-box;
  margin-bottom: 0.8rem;
  .favorites_icon{
    left: 23%;
  }
}
.favorites_icon{
  position:absolute;
  top: 1.2rem;
  left: 29%;
  width: 1.2rem;
  height: 1.2rem;
  display: inline-block;
}
// 検索フィードでのきになる
.restricted{
  position: relative;
}
@mixin favo{
  position: absolute;
  top: -15.5rem;
  right: 0;
  width: 5rem;
  height: 5.2rem;
  background:none;
  border:none;
  overflow: hidden;
  text-indent: 200%;
  white-space: nowrap;
  box-shadow:0 0 0 0 #fff;
  // filter: drop-shadow(0px 1px 5px gray);
  background:no-repeat;
  margin: 0 0 0 auto;
  box-sizing: border-box;
  background-size: 5rem auto;
  display: inline-block;
}
.wrap_card .favorites_icon{
  display: none;
}
.wrap_card .favorites{
  @include favo;
  background-image: image-url("favorite.svg");
}
.wrap_card .unfavorites{
  @include favo;
  background-image: image-url("un_favorite.svg");
}