.wrap-search{
  width: 11rem;
  margin: 1rem auto;
  height: 2rem;
  font-size:0.8rem;
  letter-spacing:-0.4rem;
}

.favorites{
  width: 15rem;
  height: 3rem;
  border-radius: 3px;
  line-height: 3rem;
  margin: 0.3rem;
  font-size: 1rem;
  // box-shadow:0 1px 0 0 $gray;
  background: $d-blue;
  border: 1px solid $d-blue;
  color: #fff;
  // background-image: image-url("favorite.svg");
  // background-repeat:no-repeat;
}
.unfavorites{
  width: 15rem;
  height: 3rem;
  line-height: 3rem;
  border-radius: 3px;
  line-height: 2.5rem;
  margin: 0.3rem;
  font-size: 0.8rem;
  // box-shadow:0 1px 0 0 $gray;
  // background-image: image-url("un_favorite.svg");
  // background-repeat:no-repeat;
}
.wrap_card .favorites{
  position: absolute;
  top: 0.5rem;
  right: 0;
  width: 3rem;
  height: 3rem;
  background:none;
  border:none;
  background-image: image-url("favorites.svg");
}
.wrap_card .unfavorites{
  position: absolute;
  top: 0.5rem;
  right: 0;
  width: 3rem;
  height: 3rem;
  background:none;
  border:none;
  background-image: image-url("un_favorites.svg");
}