#topHeader{
  position: relative;
  width: 100%;
  height: 13rem;
  margin-bottom: 1.5rem;
  box-shadow:0 1px 7px gray;
  div {
    height: 100%;
  }
}
.header__image_top {
  filter: brightness(80%);
  // saturate(90%)
}
.header__copy {
  position: absolute;
  top: 8.4rem;
  color: white;
  width: 100%;
  text-align: center;
  line-height: 25px;
  font-family: serif;
  font-size: 1rem;
}

// チュートリアル
#no_belonge{
  display: none;
}
#already_belonge{
  display: none;
}
#representative{
  display: none;
}
.tutorial_first_select{
  display: none;
}

.genre{
  max-width: 45%;
  min-width: 45%;
  // width: 50%;
  height: 4rem;
  line-height: 4rem;
  text-align: center;
  border-radius: 5px;
  display: inline-block;
  font-size: 1rem;
  margin: 0 0.2rem;
  box-sizing:border-box;
  box-shadow:0 1px 5px gray;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  background:$d-blue;
  // background: rgba(255,255,255,1);
  -webkit-filter: saturate(70%);
  filter: saturate(70%);
  // filter: blur(3px);
  &:first-child{
    margin-left: 0.5rem;
  }
}
.sride_genre{
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  z-index: 100;
  height: 4.5rem;
  // width: 100%;
  box-sizing:border-box;
  -webkit-overflow-scrolling: touch;
}