.follow{
  width: 90%;
  border-radius: 5px;
  border: 1px solid #00ACC1;
  margin: 1rem auto 0;
  box-sizing: border-box;
  &__wrap{
    width:100%;
    display:flex;
    justify-content: center;
    padding:0;
    list-style: none;
  }
  &__list{
    padding: 0.6rem 1.5% 0.4rem;
    width: 6.5rem;
    height: 2rem;
    text-align: center;
    &_border_right{
      border-right: 1px solid gray;
    }
  }
  &__link{
    text-decoration: none;
    font-size: $small;
    color: gray;
    text-align: center;
  }
  &__number{
    display: block;
    color: black;
    font-weight: 600;
    text-align: center;
    font-size: 0.8rem;
  }
}
.belong{
  position: relative;
  width: 100%;
  height: 7rem;
  border-top: 1px solid $l-gray;
  // border-bottom: 1px solid $l-gray;
  // margin-top: 1rem;
  // padding: 1rem ;
  box-sizing: border-box;
  &__image{
    position: absolute;
    top: 10%;
    left: 5%;
    width: 5rem;
    height: 5rem;
    background: gray;
    border-radius: 5px;
  }
  &__heading{
    position: absolute;
    top:10%;
    left: 30%;
    text-decoration: none;
    color: $gray;
  }
  &__description{
    position: absolute;
    top: 30%;
    left: 30%;
    text-decoration: none;
    color: gray;
    font-size: 0.8rem;
  }
}
.user__body{
  width: 100%;
  margin: 2rem auto;
}
.introduce{
  position: relative;
  margin: 0 1.5rem 2rem;
    &__heading{
      color: #405158;
      font-weight: normal;
      font-size: $normal;
      padding-top:0.5rem;
    }
    &__text{
      word-wrap: break-word;
      font-size: $small;
      padding-top:0.5rem;
    }
    &__btn{
      position: absolute;
      top: 0;
      right: 0;
  }
}