.follow{
  width: 95%;
  border-radius: 3px;
  border: 1px solid #00ACC1;
  margin: 3rem auto 0;
  box-sizing: border-box;
  padding: 0.5rem 0 ;
  &__wrap{
    width:100%;
    display:flex;
    justify-content: center;
    padding:0;
    list-style: none;
  }
  &__list{
    padding: 0.6rem 1.5% 0.4rem;
    width: 5.5rem;
    height: 2rem;
    text-align: center;
    position:relative;
    &_border_right{
      border-right: 1px solid $l-gray;
    }
    &_icon{
      width: 3rem;
      height: 3rem;
      // display: inline-block;
      position: relative;
      top: -1.5rem;
      right: 0;
    }
  }
  &__link{
    text-decoration: none;
    color: gray;
    text-align: center;
    font-size: 0.7rem;
    position:relative;
    top: 50%;
    transform: translateY(-50%);
  }
  &__number{
    display: block;
    color: black;
    font-weight: 600;
    text-align: center;
    font-size: 1rem;
    // display: table-cell;
    // vertical-align: middle;
    // height: 4.8rem;
  }
}
.wrap_belong{
  // border: 1px solid $d-blue;
  border-radius: 3px;
  box-shadow:0 2px 5px $l-gray;
  box-sizing: border-box;
  margin: 0 auto;
}
.belong{
  position: relative;
  width: 100%;
  height: 7rem;
  border-top: 1px solid $l-gray;
  box-sizing: border-box;
  &:first-child{
    border:none;
  }
  &__image{
    position: absolute;
    top: 13%;
    left: 5%;
    width: 5rem;
    height: 5rem;
    background: gray;
    border-radius: 5px;
    box-shadow:0 2px 5px $l-gray;
  }
  &__heading{
    position: absolute;
    top:15%;
    left: 7rem;
    width: 63%;
    text-decoration: none;
    color: $gray;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
  }
  &__description{
    position: absolute;
    top: 32%;
    left: 7rem;
    width: 63%;
    height: 4rem;
    text-decoration: none;
    color: gray;
    font-size: 0.7rem;
    line-height: 1rem;
    overflow: hidden;
    box-sizing: border-box;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
  }
}
.user__body{
  width: 100%;
  margin: 2rem auto;
}
.introduce{
  position: relative;
  margin: 0 1.5rem 2rem;
    &__heading{
      color: #405158;
      font-weight: normal;
      font-size: $normal;
      padding-top:0.5rem;
    }
    &__text{
      word-wrap: break-word;
      font-size: $small;
      padding-top:0.5rem;
    }
    &__btn{
      position: absolute;
      top: 0;
      right: 0;
  }
}

@mixin prof_item{
  content: "";
  width:1.5rem;
  height:1.5rem;
  background-size: 1.5rem auto;
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.5rem;
  margin-top: 0;
  margin-bottom: 0.3rem;
}
.prof_item{
  display: block;
  margin: 1rem 0 0.5rem 1rem;
  color: $gray;
  &_school{
    &::before{
      @include prof_item;
      background-image: image-url("school.svg");
    }
  }
  &_location{
    &::before{
      @include prof_item;
      background-image: image-url("location.svg");
    }
  }
  &_star{
    &::before{
      @include prof_item;
      background-image: image-url("star.svg");
    }
  }
  &_home{
    &::before{
      @include prof_item;
      background-image: image-url("home.svg");
    }
  }
  &_sex{
    &::before{
      @include prof_item;
      background-image: image-url("sex.svg");
    }
  }
}
.wrap_follow_round{
  display: flex;
  justify-content: space-around;
  max-width: 340px;
  margin: 3rem auto 0;
}
.follow_round{
  width: 4.5rem;
  height: 4.5rem;
  background: #fff;
  border-radius:50%;
  padding-top:1.5rem;
  // padding-bottom:1rem;
  // padding:0.8rem;
  // display: inline-block;
  // border:1px solid $d-blue;
  box-sizing:border-box;
  text-align: center;
  box-shadow: 0 1px 3px gray;
  &_setting{
    background-image: image-url("setting.svg");
    zoom:-1;
  }
}

// プロフィール画像の丸から画像を編集
.user__image_zoom{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.9);
  z-index: 200;
  .user__image{
    width: 100%;
    height: 15rem;
    margin: 5rem auto 0;
    background:gray;
  }
  p{
    color: white;
    float: right;
  }
}

