
<style>
  .temp_button {
    width: 100px;
    height: 50px;
    background-color: #0b2;
    cursor: pointer;
  }
</style>

<%= text_field_tag :keyword, nil, {id: "college_keyword"} %>
<div class="temp_button"></div>

<div id="college_select">
  <%= render "college_select", colleges: @colleges %>
</div>