
<div class="margin_top_2rem"></div>
<%= link_to "ユーザー追加", :create_dummy, method: :post %>
<div class="margin_top_2rem"></div>

<table id="dummies">
  <tr>
    <th>名前</th>
    <th>画像</th>
    <th class="dummies__login">ログイン</th>
    <th class="dummies__delete">削除</th>
  </tr>
  <% @dummies.each do |d| %>
    <tr>
      <td><%= d.name %></td>
      <td>
        <div></div>
      </td>
      <td class="dummies__login">ログイン</td>
      <td class="dummies__delete">削除</td>
    </tr>
    <% end %>
  </tr>
</table>

<style>
  #dummies {
    border: 1px solid #333;
    width: 100%;
  }
  #dummies th,
  #dummies td {
    border: 1px solid #333;
    padding: 3px;
  }
  #dummies td {
    height: 100px;
  }
  .dummies__login,
  .dummies__delete {
    width: 80px;
    text-align: center;
  }
</style>
