<header>
  <h1 class="formHeading ta_center">メンバー申請一覧</h1>
</header>

<div class="list__wrap">
  <% if @entries.any? %>
    <ul class="wrap-thinCard">
      <% @entries.each do |entry| %>
        <%= render "shared/entry_card", entry: entry %>
      <% end %>
    </ul>
  <% end %>
  <%= link_to "サークルへ戻る", @circle ,class: "button button_size_medium button_color_gray"%>
</div>
