<% if @entries.any? %>
  <ul>
    <% @entries.each do |entry| %>
      <li><%= link_to entry.user.name, entry.user %> | <%= link_to "承認", [:accept, @circle, entry], method: :post %></li>
    <% end %>
  </ul>
<% end %>