<header>
  <h1 class="formHeading ta_center">メンバー申請一覧</h1>
</header>

<div class="list__wrap">
  <% if @entries.any? %>
    <%= render "shared/thin_cards", objects: @circle.entrying_users %>
    <%# link_to "承認", [:accept, @circle, entry], method: :post , class: "thinCard__permit button button_size_small button_color_blue "%>
  <% end %>
  <%= link_to "サークルへ戻る", @circle ,class: "button button_size_medium button_color_gray"%>
</div>
