$("#follow_form").html("<%= escape_javascript(render('users/follow')) %>");
$("#followers_count").html('<%= @user.followers.count %><br><span class="small_text">フォロワー</span>');

$(".header__message").on("click",function(){
  $(".alert").fadeIn(300);
  return false;
});