<header>
  <h1 class="formHeading ta_center">通知</h1>
</header>

<div class="list__wrap">
  <ul>
    <% @notifications.each do |notification| %>
      <li>
        <% if notification.from_user? %>
          
        <% end %>
      </li>
    <% end %>
  </ul>
</div>