<header>
  <h1 class="formHeading ta_center"><%= @title %></h1>
</header>

<div class="list__wrap">
  <% if @users.any? %>
    <ul class="wrap-thinCard">
      <% @users.each do |user| %>
        <%= render "shared/user_card", user: user %>
      <% end %>
    </ul>
  <% end %>
</div>
