<header>
  <h1 class="formHeading ta_center">足跡</h1>
</header>

<div class="list__wrap">
  <% if @foots.any? %>
    <ul class="wrap-thinCard">
      <% @foots.each do |foot| %>
        <%= render "shared/user_card", user: foot.footer_user %>
      <% end %>
    </ul>
  <% end %>
</div>