<header>
  <h1 class="formHeading ta_center"><%= @title %></h1>
</header>

<div class="list__wrap">
  <% if @users.any? %>
    <ul class="wrap-thinCard">
      <%= render "shared/user_cards" %>
    </ul>
  <% end %>
</div>

<%= paginate @users %>

<script>
$(function(){
  $(".wrap-thinCard .page").infinitescroll({
    loading: {
      img:     "http://www.mytreedb.com/uploads/mytreedb/loader/ajax_loader_blue_48.gif",
      msgText: "loading..."
    },
    navSelector: "nav.pagination",
    nextSelector: "nav.pagination a[rel=next]",
    itemSelector: ".wrap-thinCard .page"
  });
});
</script>