<% if object.errors.any? %>
  <div>
    <ul>
    <% object.errors.full_messages.each do |msg| %>
      <li class="normal_text color_red margin_bottom_1rem"><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>