.ta_center{
  text-align: center;
}
.float_left{
  float: left;
}
.float_right{
  float: right;
}
.separate{
  width: 90%;
  border-bottom: 1px solid gray;
  margin:0.5rem auto;
}
.margin_top_1rem{
  margin-top:1rem;
}
.td_none{
  text-decoration: none;
}
.color_gray{
  color: $gray;
}
.color_black{
  color:black;
}