<header>
  <h2 class="formHeading ta_center">イベントを編集</h2>
</header>

<div class="form">
    <%= render "form", label: "編集", circle: @event.circle %>
  <div class="form__button">
    <%= link_to "このイベントを削除", [@event.circle, @event], method: :delete, data: { confirm: "本当に削除しますか？" } , class: "button button_size_large button_color_red"%>
  </div>
</div>