<header>
  <h1 class="formHeading ta_center">イベント一覧</h1>
</header>

<div class="list__wrap">
  <% if @events.any? %>
    <ul class="wrap-thinCard">
      <% @events.each do |event| %>
        <%= render "shared/event_card", event: event %>
      <% end %>
    </ul>
  <% end %>
</div>