<header>
  <h1 class="formHeading ta_center">お問い合わせ一覧</h1>
</header>

<div class="list__wrap">
  <%= render "shared/thin_cards", objects: @contacts %>
  <%= link_to "サークルへ戻る", @circle ,class: "button button_size_medium button_color_gray"%>
</div>