.footer{
	width:100%;
	text-align:center;
	color: gray;
	margin-top:5rem;
	// background:$d-blue;
	padding:1.5rem;
	box-sizing:border-box;
	&__copyright{
		font-size: $x-small;
		margin-top: 1rem;
	}
	&__navi{
		margin:1rem;
	}
	&__item{
		display: inline-block;
		margin: 0.5rem 1rem 0;
		text-decoration: none;
		color: $gray;
    font-size: 0.8rem;
	}
}