
.header{
  position:relative;
  background: gray;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: (10 / 16) * 100%;
  }
  &__innerCover{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  &__photo{
    position:absolute;
    top: 82%;
    width: 80px;
    height: 80px;
    left: 50%;
    margin-left: -40px;
    border-radius: 50%;
    background: gray;
    box-shadow:0 2px 5px $l-gray;
  }
  &__menu_humberger{
    position:absolute;
    top: 0%;
    right: -1%;
    width: 4.5rem;
    height: 4.5rem;
    cursor: pointer;
    filter: drop-shadow(0px 1px 4px gray);
  }
  &__foot{
    position: absolute;
    bottom:0.5rem;
    right: 0.5%;
    width: 3.4rem;
    height: 3.4rem;
    filter: drop-shadow(0px 1px 5px gray);
  }
  &__notice{
    position: absolute;
    top: 0.2rem;
    right: 0.1rem;
    width: 1.2rem;
    height: 1.2rem;
    background: #f44336;
    border-radius:50%;
    color: #fff;
    font-size: 0.6rem;
    line-height: 1.2rem;
    text-align: center;
    padding:0;
  }
}
.header__name{
  text-align: center;
  font-weight: normal;
  color: $gray;
  font-size: 1.2rem;
  margin-top: 3.5rem;
  &_noBelonge{
    &::after{
    content: "";
    width:1.2rem;
    height:1.2rem;
    background-size: 1.2rem auto;
    display: inline-block;
    vertical-align: middle;
    margin-left: 0.3rem;
    margin-top: 0;
    margin-bottom: 0.3rem;
    background-image: image-url("no_belonge.svg");
    }
  }
}
.header__subhead{
  font-size: 0.8rem;
  color: gray;
  margin-top: 0.5rem;
  text-align: center;
}

// .header {
//   position: relative;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 15rem;
//   &__name_user{
//     position: absolute;
//     top: 66%;
//     left: 32%;
//     font-weight: normal;
//     color: #fff;
//     text-shadow: 0 1px 3px gray;
//   }
//   &__name{
//     position: absolute;
//     top: 100%;
//     left: 50%;
//     width: 20rem;
//     margin-left: -10rem;
//     text-align: center;
//     font-weight: normal;
//     color: $gray;
//     font-size: 1.2rem;
//     &_noBelonge{
//       &::after{
//       content: "";
//       width:1.2rem;
//       height:1.2rem;
//       background-size: 1.2rem auto;
//       display: inline-block;
//       vertical-align: middle;
//       margin-left: 0.3rem;
//       margin-top: 0;
//       margin-bottom: 0.3rem;
//       background-image: image-url("no_belonge.svg");
//       }
//     }
//   }
//   &__background{
//     // position: absolute;
//     // top: 0;
//     // left: 0;
//     // width: 100%;
//     // height: 75%;
//     background: gray;
//     box-shadow: 0 1px 3px gray;
//     &:before {
//       display: block;
//       content: "";
//       width: 100%;
//       padding-top: (10 / 16) * 100%;
//     }
//   }
//   &__photo_user{
//     width: 80px;
//     height: 80px;
//     position: absolute;
//     top: 58%;
//     left: 50%;
//     margin-left: -40px;
//     border-radius: 50%;
//     background: gray;
//     box-shadow:0 2px 5px $l-gray;
//   }
//   &__photo_circle{
//     width: 80px;
//     height: 80px;
//     position: absolute;
//     top: 58%;
//     left: 50%;
//     margin-left: -40px;
//     border-radius: 50%;
//     background: gray;
//     box-shadow:0 2px 5px $l-gray;
//   }
//   &__subhead{
//     font-size: 0.8rem;
//     color: gray;
//     margin-top: 2rem;
//     text-align: center;
//   }
//   &__menu_humberger{
//     position:absolute;
//     top: 0%;
//     right: -1%;
//     width: 4.5rem;
//     height: 4.5rem;
//     cursor: pointer;
//     filter: drop-shadow(0px 1px 4px gray);
//   }
//   &__foot{
//     position: relative;
//     position: absolute;
//     bottom:1rem;
//     right: 0.5%;
//     width: 3.4rem;
//     height: 3.4rem;
//     filter: drop-shadow(0px 1px 5px gray);
//   }
//   &__notice{
//     position: absolute;
//     top: 0.2rem;
//     right: 0.1rem;
//     width: 1.2rem;
//     height: 1.2rem;
//     background: #f44336;
//     border-radius:50%;
//     // border: 1px solid #fff;
//     color: #fff;
//     font-size: 0.6rem;
//     line-height: 1.2rem;
//     text-align: center;
//     padding:0;
//   }
// }
.foot{
  position: relative;
}
.message_follow{
  width: 10rem;
  position: absolute;
  top: 90%;
  right: 5%;
}