.nav {
  position: fixed;
  position: relative;
  top: 0;
  left:0;
  background: #fafafa;
  width:100%;
  z-index: 100;
  box-shadow: 0 1px 3px gray;
  &__list {
    width:100%;
    height: 3rem;
    line-height: 3rem;
    display:flex;
    justify-content: space-around;
    padding:0;
    text-align: center;
  }
  &__item {
    margin-top: 0.5rem;
    display: block;
    width: 1.8rem;
    // max-width: 50px;
    // min-width: 20px;
    // width: 1.8rem;
    // height: auto;
    // text-align: center;
    position:relative;
  }
  &__notice{
    position: absolute;
    top: 0;
    right: -0.5rem;
    min-width: 1.2rem;
    height: 1.2rem;
    background: #f44336;
    border-radius:0.6rem;
    padding:0 0.3rem;
    // border: 1px solid #fff;
    color: #fff;
    font-size: 0.6rem;
    line-height: 1.2rem;
    text-align: center;
    box-sizing: border-box;
  }
  .current_location{
    border-bottom:5px solid $d-blue;
  }
}

