.button{
	display:inline-block;
	text-align:center;
	text-decoration: none;
	-webkit-appearance: none;
	box-sizing: border-box;
	position: relative;
	&_size_small{
		width: 3.5rem;
    height: 2rem;
    border-radius: 3px;
    font-size: 0.8rem;
    margin: 0 auto;
    line-height: 2rem;
    padding: 0;
	}
	&_size_medium{
		width: 7rem;
		height: 2.5rem;
		border-radius: 3px;
		line-height: 2.5rem;
		margin: 0.3rem;
		font-size: 0.8rem;
		box-shadow:0 1px 0 0 $gray;
	}
	&_size_large{
		width: 15rem;
		height: 3rem;
		border-radius: 3px;
		line-height: 2.8rem;
		margin: 0.5rem auto;
		box-shadow:0 1px 0 0 $gray;
		font-size: 1rem;
	}
	&_notice{
		position: absolute;
		top: -5%;
		right: -5%;
		width: 1.5rem;
		height: 1.5rem;
		border-radius: 50%;
		background: red;
	}
	&_follow{
		width: 5rem;
		height: 1.5rem;
		line-height: 1.5rem;
		border-radius:3px;
		position: absolute;
		top: 80%;
		right: 5%;
		padding: 0;
	}
	&_color_white{
		background: #fff;
		border: 1px solid #00ACC1;
		color: $d-blue;
	}
	&_color_blue{
		background: $d-blue;
		border: 1px solid $d-blue;
		color: #fff;
	}
	&_color_gray{
		background: #ECEFF1;
		border: 1px solid #00ACC1;
		color: $d-blue;
	}
	&_color_red{
		background:#c62828;
		color: #fff;
		border: 1px solid #c62828;
	}
	&_feed{
		width: 5rem;
		height: 2rem;
		line-height: 2rem;
		background: #fff;
		border: 1px solid #00ACC1;
		color: $l-gray;
		border-top-left-radius:5px;
		border-bottom-left-radius:5px;
		letter-spacing:normal;
		&_current{
			color: #fff;
			background: $d-blue;
		}
	}
	&_search{
		width: 5rem;
		height: 2rem;
		line-height: 2rem;
		background: #fff;
		border: 1px solid #00ACC1;
		color: $l-gray;
		border-top-right-radius:5px;
		border-bottom-right-radius:5px;
		letter-spacing:normal;
		&_current{
			color: #fff;
			background: $d-blue;
		}
	}
}