.buttun{
	display:inline-block;
	text-align:center;
	text-decoration: none;
	&_size_small{
		width: 3rem;
	    height: 1.5rem;
	    border-radius: 3px;
	    font-size: 0.6rem;
	    margin:auto;
	    line-height: 1.5rem;
	}
	&_size_medium{
		width: 7rem;
		height: 2.5rem;
		border-radius: 3px;
		line-height: 2.5rem;
		margin: 0.3rem;
		font-size: 0.8rem;
		box-shadow:0 1px 0 0 $gray;
	}
	&_size_large{
		width: 15rem;
		height: 3rem;
		border-radius: 3px;
		line-height: 2.8rem;
		margin: 0.5rem auto;
		box-shadow:0 1px 0 0 $gray;
		font-size: 1rem;
	}
	&_follow{
		width: 5rem;
		height: 1rem;
		line-height: 1rem;
		border-radius:3px;
		position: absolute;
		top: 80%;
		right: 0;
	}
	&_color_white{
		background: #fff;
		border: 1px solid #00ACC1;
		color: $d-blue;
	}
	&_color_blue{
		background: $d-blue;
		border: 1px solid gray;
		color: #fff;
	}
	&_color_gray{
		background: #ECEFF1;
		border: 1px solid #00ACC1;
		color: $d-blue;
	}
}
