@mixin button_icon{
  content: "";
  width:1.5rem;
  height:1.5rem;
  background-size: 1.5rem auto;
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.5rem;
  margin-top: 0;
  margin-bottom: 0.3rem;
}
.button{
	display:inline-block;
	text-align:center;
	text-decoration: none;
	-webkit-appearance: none;
	box-sizing: border-box;
	position: relative;
	&_size_small{
		width: 3.5rem;
    height: 2rem;
    border-radius: 3px;
    font-size: 0.8rem;
    margin: 0 auto;
    line-height: 2rem;
    padding: 0;
	}
	&_size_medium{
		width: 7rem;
		height: 2.5rem;
		border-radius: 3px;
		line-height: 2.5rem;
		margin: 0.3rem;
		font-size: 0.8rem;
	}
	&_size_large{
		width: 15rem;
		height: 3rem;
		border-radius: 3px;
		line-height: 2.8rem;
		margin: 0.5rem auto;
		font-size: 1rem;
		&_member{
			&::before{
				@include button_icon;
		  background-image: image-url("member_add.svg");
			}
		}
		&_contact{
			&::before{
				@include button_icon;
		  background-image: image-url("contact.svg");
			}
		}
	}
	&_square{
		width: 6rem;
		height: 6rem;
		border-radius:3px;
		font-size: 0.8rem;
		line-height: 6rem;
		margin-bottom: 0.5rem;
	}
	&_round{
		width: 80%;
		height: 2.5rem;
		border-radius: 2.5rem;
		line-height: 2.5rem;
		padding:0;
		font-size: 1rem;
		margin-top: 0.5rem;
	}
	&_border{
		border:1.5px solid #fff;
		border-radius: 3px;
		padding: 5px;
		font-size: 0.8rem;
		text-decoration: none;
		color: #fff;
		line-height: 1rem;
		margin: 1rem;
	}
	&_notice{
		position: absolute;
		top: -5%;
		right: -5%;
		width: 1.5rem;
		height: 1.5rem;
		border-radius: 50%;
		background: red;
	}
	&_color_white{
		background: #fff;
		border: 1px solid #00ACC1;
		color: $d-blue;
		// box-shadow:0 1px 0 0 $d-blue;
	}
	&_color_blue{
		background: $d-blue;
		border: 1px solid $d-blue;
		color: #fff;
	}
	&_color_gray{
		background: #ECEFF1;
		border: 1px solid #00ACC1;
		color: $d-blue;
	}
	&_color_red{
		background:#c62828;
		color: #fff;
		border: 1px solid #c62828;
	}
	&_feed{
		width: 5rem;
		height: 2rem;
		line-height: 2rem;
		background: #fff;
		border: 1px solid #00ACC1;
		color: $l-gray;
		border-top-left-radius:5px;
		border-bottom-left-radius:5px;
		letter-spacing:normal;
		&_current{
			color: #fff;
			background: $d-blue;
		}
	}
	&_search{
		width: 5rem;
		height: 2rem;
		line-height: 2rem;
		background: #fff;
		border: 1px solid #00ACC1;
		color: $l-gray;
		border-top-right-radius:5px;
		border-bottom-right-radius:5px;
		letter-spacing:normal;
		&_current{
			color: #fff;
			background: $d-blue;
		}
	}
	&_lp{
		width: 75%;
		height: 2.5rem;
		font-size: 0.8rem;
		line-height: 2.5rem;
		margin-bottom: 0.5rem;
		border-radius:3px;
		padding: 0;
	}
	&_facebook{
		background: #3B579D;
		color: #fff;
		&::before{
			content: "";
	    width:1.5rem;
	    height:1.5rem;
	    background-image: image-url("facebook.png");
	    background-size: 1.5rem auto;
	    display: inline-block;
	    vertical-align: middle;
	    margin-right: 0.5rem;
	    margin-top: 0;
	    margin-bottom: 0.3rem;
		}
	}
	&_100{
		width: 100%;
		height: 2.5rem;
		line-height: 2.5rem;
		border-radius:3px;
		font-size: 1rem;
		padding: 0;
	}
	&_thin{
		width: 70%;
		height: 1.5rem;
		line-height: 1.5rem;
		font-size: 0.8rem;
		border:1px solid $d-blue;
		border-radius: 3px;
		margin: 1px auto;
		color: #fff;
		background:$d-blue;
	}
}