.flash_message{
	width:100%;
	padding:0 1rem;
	background: $l-blue;
	color: #fff;
	line-height:3rem;
	box-sizing:border-box;
  &-alert {
    background-color: red;
  }
  &-notice {
    background-color: blue;
  }
  &-success {
    background-color: lightgreen;
  }
}