.flash_message{
	width:100%;
	padding:0 1rem;
	background: $l-blue;
	color: #fff;
	line-height:3rem;
	box-sizing:border-box;
  &-alert {
    background-color: #F2DEDE;
    color: #A94442;
  }
  &-notice {
    background-color: #D9EDF7;
    color: #31708F;
  }
  &-success {
    background-color: #DFF0D8;
    color: #3C763D;
  }
}