.ta_center{
  text-align: center;
}
//リンクの親要素に高さと幅を合わせる
.link_fill {
  display: inline-block;
  width: 100%;
  height: 100%;
  text-decoration: none;
}
.c_picture {
  background-size: cover !important;
  background-position: 50% 50% !important;
}
.float_left{
  float: left;
}
.float_right{
  float: right;
}
.separate{
  width: 90%;
  border-bottom: 1px solid $l-gray;
  margin:1rem auto;
}
.text_decoration_none{
  text-decoration: none;
}
.color_gray{
  color: $gray;
}
.color_black{
  color:black;
}
.margin_0_auto{
  margin: 0 auto;
}
.margin_top_05rem{
  margin-top:0.5rem;
}
.margin_top_1rem{
  margin-top: 1rem;
}
.margin_top_2rem{
  margin-top: 2rem;
}
.margin_top_3rem{
  margin-top: 3rem;
}
.margin_bottom_1rem{
  margin-bottom: 1rem;
}
// プライバシーポリシーを一時的に
.text_wrap{
  width: 95%;
  margin: 0 auto;
}
.text__head{
  color: $gray;
  margin: 0.5rem auto;
}
.text__mail{
  color: gray;
  text-align: center;
}
.background_gray{
  background:$l-gray;
}
.normal_text{
  color: $gray;
}
.small_text{
  font-size:0.6rem;
  color: gray;
  font-weight: normal;
}
.inline_block{
  display: inline-block;
}
.color_white{
  color: white;
}
.text_shadow{
  text-shadow: 0px 3px 6px black;
}