$(function(){
  // 大学・学部検索
  $('#college_search_button').on("click", function(){
    var keyword = $("#college_keyword").val();
    $.ajax({
        url: "/recruit",
        type: "GET",
        data: {
          keyword: keyword,
          request_type: "colleges",
        },
    }).done(function(data){
      $("#college_select_wrap").html(data);
      if($("#faculty_select")[0]){
        $("#college_select").on("change", function(){
          var code = $("#college_select option:selected").attr("id");
          $.ajax({
              url: "/recruit",
              type: "GET",
              data: {
                code: code,
                request_type: "faculties",
              },
          }).done(function(data){
            $("#faculty_select_wrap").html(data);
          }).fail(function(){
            alert("学部取得失敗");
          });
        });
      }
    }).fail(function(){
      alert("大学取得失敗");
    });
  });
  // 大学名検索欄のクリックの対象をサブミットではなく検索に変更
  $("#college_keyword").keydown(function(e) {
    if ((e.which && e.which === 13) || (e.keyCode && e.keyCode === 13)) {
      $("#college_search_button").click();
      return false;
    }
  });
  // 大学が記入されてるかどうかで、大学記入フォームを隠すか表示するかを制御
  if ($("#college_blank")[0]){
    $("#change_college").hide();
    $("label[for=change_college]").hide();
  } else {
    $("#college_form").hide();
  }
  $("#change_college").on("change", function(){
    $("#college_form").slideToggle();
  });
  // サークル画面での大学フォーム関連
  $(".remove_college_button").hide();
  $("#edit_joining_colleges").on("click", function(){
    $("#college_form").slideToggle();
    if($(this).text() == "完了"){
      $(this).text("追加・編集");
      $(".remove_college_button").hide();
    } else {
      $(this).text("完了");
      $(".remove_college_button").show();
      $(".remove_college_button").css("display", "inline-block");
    }
  });
  // サークルの参加団体が空の時
  if(!$("#joining_colleges .joining_college")[0]){
    $("#college_form").show();
    $("#edit_joining_colleges").hide();
  }

  // 大学追加ボタン
  $("#add_college_button").off("click");
  $("#add_college_button").on("click", function(){
    var college_name = $("#college_select_wrap option:selected").val();
    if(college_name && !$(".college_name:contains("+college_name+")")[0]){
      $("#joining_colleges").append(
        '<div class="joining_college">'+
          '<div class="college_name">'+college_name+'</div>'+
          '<div class="remove_college_button">大学を削除</div>'+
          '<input type="hidden" name="joining_colleges[]" value="'+college_name+'">'+
        '</div>'
      );
      exist_colleges_changed();
      set_colleges_delete();
    }
  });
  set_colleges_delete();
});

// 大学削除を割り当てる
function set_colleges_delete(college_name){
  $(".remove_college_button").off("click");
  $(".remove_college_button").on("click", function(){
    var college_name = $(this).parent().children(".college_name").text();
    if(!confirm(college_name + "を削除しますか？")){
      return false;
    }else{
      $(this).parent().remove();
      exist_colleges_changed();
    }
  });
}

// 大学変更有りを表すタグの設置
function exist_colleges_changed(){
  if(!$("#exist_colleges_changed")[0]){
    $("#joining_colleges").append("<input type='hidden' id='exist_colleges_changed' name='exist_colleges_changed' value='true'>");
  }
}

