<header>
  <h1 class="formHeading ta_center">メッセージ</h1>
</header>

<div class="messageList">
  <% if @message_rooms.any? %>
    <ul class="wrap-thinCard">
      <% @message_rooms.each do |message_room| %>
        <% opp_user = message_room.opponent(current_user.id) %>
        <li class="thinCard message_list">
          <%= link_to opp_user.name, message_room , class: "thinCard__heading"%>
          <div class="thinCard__image" style="background-image: url(<%= opp_user.picture %>)"></div>
          <div class="thinCard__subhead"><%= message_room.newest_message.content if message_room.messages.any? %></div>
          <div class="thinCard__time">
            <%= message_room.newest_message.created_at.in_time_zone('Tokyo').strftime("%m/%d  %k:%M") if message_room.messages.any? %>
          </div>
          <div class="thinCard__notice">52</div>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>