<header>
  <h1 class="formHeading ta_center">メッセージ</h1>
</header>

<div class="messageList">
  <% if @message_rooms.any? %>
    <ul class="wrap-thinCard">
      <%= render "message_rooms" %>
    </ul>
  <% end %>
</div>