// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user_header {
  position: relative;
  margin: 50px 0;
}
.create_circle_btn {
  position: absolute;
  top: 0;
  right: 0;
  color: #000;
  border: 2px solid #000;
  text-decoration: none;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 5px;
  font-size: 45px;
}

.profile-content {
  clear: both;
  margin-bottom: 10px;
  .edit-btn {
    color: #000;
    text-decoration: none;
    $height: 30px;
    float: right;
    width: 50px;
    height: $height;
    background-color: #fff;
    border: 1px solid #00ACC1;
    border-radius: 4px;
    text-align: center;
    line-height: $height;
    vertical-align: middle;
  }
}