
<h1>プライバシーポリシーに関して</h1>

<h2>個人情報の取り扱いについて</h2>
<p>Union(以下「当サイト」とします)における個人情報の取り扱いについては下記 のものを個人情報とし、その取り扱いについて徹底した保護・管理に努めます。
・当サイト宛へのメールに記載された送信者情報(メールアドレス/氏名等)</p>

<h2>個人情報の利用目的</h2>
<p>個人情報の利用目的としては、当サイトのサービスにおける質問・相談の返信時やイベント開催の連絡等に個人情報(メールアドレス/氏名等)を用いることとし、それ以外の利用はいたしません。また当サイトはその情報を安全に保管し、取り扱うことを当サイト関係者に徹底していきます。</p>

<h2>第三者への非開示・非提供</h2>
<p>個人情報は、ご利用者の同意がある場合又は法令等により個人情報の開示・提供が要求される場合を除き、原則として第三者に開示又は提供しません。</p>

<h2>個人情報の適正管理</h2>
<p>当サイトで収集した個人情報は、紛失、破壊、改ざん及び漏洩等のリスクを防止する措置を講じ、適正に管理します。</p>

<h2>お問い合わせ</h2>
<p>本プライバシーポリシーについてのお問い合わせは以下へご連絡ください。</p>

<h3>Union運営局</h3>
E-mail:union.web.fr@gmail.com