<div class="joining_college">
  <div class="college_name"><%= college %></div><div class="remove_college_button">大学を削除</div>
  <input type="hidden" name="joining_colleges[]" value="<%= college %>">
</div>