<header>
	<h1 class="heading ta_center">気になるをくれたユーザー</h1>
</header>

<div class="list__wrap">
<% if @circle.favorites.any? %>
	<ul>
	  <% @circle.favorited_users.each do |user| %>
	    <li class="list">
	    	<%= link_to user.name, user , class: "list__name"%>
	    	<div class="list__image"></div>
	    	<div class="list__subhead">何か情報</div>
	    </li>
	  <% end %>
	</ul>
<% end %>
	<%= link_to "サークルへ戻る", @circle ,class: "buttun buttun_size_medium buttun_color_gray"%>
</div>