<div class="wrap-search ta_center">
  <%= link_to "フィード", [:feed, :circles] , class: "button button_feed button_feed_current"%>
  <%= link_to "検索", [:search, :circles] , class: "button button_search"%>
</div>

<% if @circles.any? %>
  <% @circles.each do |circle| %>
    <%= render "circle_card", circle: circle %>
  <% end %>
<% end %>