<header>
  <h1 class="formHeading ta_center">メンバー一覧</h1>
</header>

<div class="list__wrap">
  <% if @members.any? %>
    <ul>
      <% @members.each do |member| %>
        <li class="thinCard">
          <%= link_to member.name, member, class: "thinCard__heading" %>
          <div class="thinCard__image" style="background-image: url(<%= member.picture %>)"></div>
          <div class="thinCard__subhead"><%= member.college %></div>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>