<header>
  <h1 class="formHeading ta_center">最終確認</h1>
</header>

<p class="ta_center">本当に退団してもよろしいですか？</p>

<div class="ta_center">
  <%= link_to "退団", [:resign, @circle, resign_confirmed: true], method: :delete , class: "button button_size_large button_color_red "%>
</div>