<header>
  <h1 class="formHeading ta_center">その他</h1>
</header>

<div class="frame ta_center">
  <div class="button button_lp button_color_gray"><%= link_to "サークル退団", [:resign, @circle], method: :delete ,class: "color_gray text_decoration_none"%></div>
  <% if @status == "chief" %>
    <div class="button button_lp button_color_gray"><%= link_to "サークル削除", @circle, method: :delete ,class: "color_gray text_decoration_none"%></div>
  <% end %>
</div>