<h1><%= @circle.name %></h1>

<% if @members.any? %>
  <div class="members_wrap">
    <h2>団体員</h2>
    <ul>
      <% @members.each do |member| %>
        <li><%= link_to member.name, member %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<h2>ブログ一覧</h2>
<% if @blogs.any? %>
  <ul>
    <% @blogs.each do |blog| %>
      <li><%= link_to blog.title, blog %></li>
    <% end %>
  </ul>
<% else %>
<p>ブログがありません。</p>
<% end %>

<% if @be_member %>
  <%= link_to "ブログを作成", new_blog_path(circle_id: @circle.id) %>
<% else %>
  <p>メンバー申請</p>
<% end %>