<% if user_signed_in? %>
  <% if current_user.free[0] %><span id="user_free"></span><% end %>
  <div class="prompt">
    <div class="prompt__box">
      <p class="prompt__text">
        この機能を利用するには、プロフィールの必須項目を入力してください。
        <ul>
          <% current_user.free[1].each do |label| %>
            <li>・<%= label %></li>
          <% end %>
        </ul>
      </p>
      <%= link_to "設定", [:edit, current_user], class: "prompt__button button button_size_medium button_color_blue" %>
      <%= image_tag 'close.svg' , class: "prompt__close"%>
    </div>
  </div>
<% end %>